<!-- templates/upload_and_process.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>上传文件并且预测</title>
</head>
<body>
    <h2>上传包含预测图像的csv文件，并且选择输出目录</h2>
    <form action="{% url 'predict' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" id="file">
        <br><br>
        Output Path: <input type="text" name="output_path" id="output_path">
        <button type="submit">Upload and Process</button>
    </form>
</body>
</html>